@model IEnumerable<MVCCRUD.Models.Usuario>

@{
    ViewData["Title"] = "BASEDATOS - CRUD";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Clave)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.Clave)</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a>
                        <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Details</a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
